body {
    min-height: 2000px;
    display: flex;
    flex-wrap: wrap;
    border: 8px solid black;
    justify-content: space-evenly;
    align-items: center;
}

.box {
height: 200px;
width: 200px;
border: 6px solid black;
background-color: rgb(84, 255, 11);
font-size: 40pt;
display: flex;
justify-content: center;
align-items: center;

}